---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import { Image } from 'astro:assets';
import ScrollOnTop from "../components/ScrollOnTop.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="h-full bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
<head>
	<BaseHead title={title} description={description} />
</head>
	<body class="flex flex-col min-h-screen bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
		<ScrollOnTop/>
		<Header />
		<main class="flex-grow max-w-3xl w-full mx-auto px-4 py-10">
			<article class="prose prose-indigo dark:prose-invert">
				<!-- Hero Image -->
				{heroImage && (
					<div class="mb-6">
						<Image width={1020} height={510} src={heroImage} alt="" class="rounded-xl shadow-md" />
					</div>
				)}

				<!-- Title & Date -->
				<header class="mb-8">
					<h1 class="text-4xl font-bold mb-2">{title}</h1>
					<div class="text-sm text-gray-500 dark:text-gray-400">
						<FormattedDate date={pubDate} />
						{updatedDate && (
							<span class="ml-2 italic"> • Updated on <FormattedDate date={updatedDate} /></span>
						)}
					</div>
					<hr class="mt-4" />
				</header>

				<!-- Main content slot -->
				<main class="flex-grow px-4">
					<slot />
				</main>
			</article>
		</main>
		<Footer />
	</body>
</html>
